body{
color: rgb(216, 16, 16);

    background-color: rgb(35, 50, 14);
}
h1{
    text-align: center;
}
table, td, th{
    border: 2px  solid black;
    border-width: 4px;
    padding: 30px;
    border-style:solid;
    border-color: rgb(143, 25, 25);
margin: 0 auto;
}

table{
    width:90%;
}
a{
    color: green;
}
footer{
    text-align: center;
}
